@use "colors" as *;
@use "sizes" as *;
@use "typography" as *;

// ====================================== //
// ▄▀▀ ▄▀▄ █▄ █ ▀█▀ ██▀ ▀▄▀ ▀█▀ █ █ ▄▀▄ █
// ▀▄▄ ▀▄▀ █ ▀█  █  █▄▄ █ █  █  ▀▄█ █▀█ █▄▄
// ====================================== //

// Colors
$color-text-default: $color-neutral-800;
$color-background-default: $color-neutral-100;
$color-text-inverted: $color-neutral-100;
$color-background-inverted: $color-primary-700;
$color-text-interactive-default: $color-primary-400;
$color-text-interactive-hover: $color-accent-700;

// Letter spacing
$letter-spacing-loose: 0.16em;
$letter-spacing-default: 0;

// Body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.7;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// General
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

// Layout
$grid-gap: $size-8;
$flex-group-gap: $size-4;

$section-padding-block-mobile: 3.75rem;
$section-padding-block-desktop: 5rem;

$card-body-padding: 1.5rem;

$container-min-margin-inline: $size-8;
$container-max-width: 62.75rem;
$container-max-width-narrow: 42.5rem;
$container-max-width-wide: 68.75rem;

// Border-radius
$border-radius-1: $size-1;
$border-radius-2: $size-2;
$border-radius-3: $size-4;

// Shadows
$box-shadow-1: 0 $size-1 $size-4 rgb(0 0 0 / 0.05);
$box-shadow-2: 0 $size-1 $size-4 rgb(0 0 0 / 0.15);

// ========================================= //
// ▄▀▀ ▄▀▄ █▄ ▄█ █▀▄ ▄▀▄ █▄ █ ██▀ █▄ █ ▀█▀ ▄▀▀
// ▀▄▄ ▀▄▀ █ ▀ █ █▀  ▀▄▀ █ ▀█ █▄▄ █ ▀█  █  ▄█▀
// ========================================= //

// Headings (Titles)
$heading-font-family: $font-family-accent;
$heading-font-size-default: $font-size-600;
$heading-font-weight: $font-weight-bold;
$heading-color-default: $color-primary-700;
$heading-color-inverted: $color-neutral-100;
$heading-letter-spacing: $letter-spacing-default;
$heading-line-height: 1;
$heading-text-transform: auto;

// Buttons
$button-font-family: $body-font-family;
$button-font-weight: $font-weight-default;
$button-font-size: $button-font-size-default;
$button-text-transform: none;
$button-padding-default: 0.72em 1em;
$button-padding-default-coarse: 0.75em 1.1em;
$button-border: none;
$button-border-radius: $border-radius-1;
$button-letter-spacing: 0;
$button-transition: 275ms ease;

$button-default-background: transparent;
$button-default-hover-background: $color-neutral-200;

$button-accent-color: $color-primary-700;
$button-accent-background: $color-accent-400;
$button-accent-color-hover: $color-primary-700;
$button-accent-background-hover: $color-accent-200;

$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-400;
$button-primary-color-hover: $color-primary-400;
$button-primary-background-hover: $color-cyan-300;

// Cards
$card-flow-spacing: $size-3;
$card-body-padding: $card-body-padding;
$card-font-family: $body-font-family;
$card-font-size: $body-small-font-size;
$card-line-height: 1.7;
$card-text-align: left;

$card-background-default: $body-background-color;
$card-background-green: $color-accent-200;
$card-background-yellow: $color-yellow-100;
$card-background-pink: $color-pink-100;
$card-background-cyan: $color-cyan-100;

$card-color-default: $color-primary-700;
$card-border-radius: $border-radius-2;
$card-box-shadow: $box-shadow-1;

$card-heading-font-family: $heading-font-family;
$card-heading-font-size: $tertiary-heading-font-size;
$card-heading-font-weight: $heading-font-weight;
$card-heading-color-default: $heading-color-default;
$card-heading-letter-spacing: $heading-letter-spacing;
$card-heading-line-height: $heading-line-height;
$card-heading-text-transform: $heading-text-transform;

$card-link-font-family: $card-font-family;
$card-link-font-size: $card-font-size;
$card-link-font-weight: $font-weight-bold;
$card-link-color: $card-color-default;
$card-link-letter-spacing: 1;
$card-link-text-transform: none;

$card-content-link-gap: $size-8 + 0.2rem;
$card-content-max-width: 321px;

// Header
$header-block-padding: $size-9;

$header-font-family: $font-family-base;
$header-font-size: $body-font-size;
$header-font-weight: $font-weight-default;
$header-letter-spacing: 0;
$header-text-transform: auto;

$header-background-color: $color-neutral-200;
$header-color: $color-neutral-800;

// Navigation header
$navigation-gap: $size-10;
$navigation-color: $header-color;
$navigation-link-padding: 0rem;
$navigation-background-color: $header-background-color;

// Footer
$footer-font-family: $font-family-base;
$footer-letter-spacing: 0;
$footer-font-weight: $font-weight-default;
$footer-text-transform: none;
$footer-background-color: $color-neutral-100;
$footer-block-padding-mobile: $section-padding-block-mobile;
$footer-block-padding-desktop: $section-padding-block-desktop;
$footer-top-padding-reset: 0; // 0 for yes, none for no
$footer-color: $color-neutral-800;

$footer-list-gap: $flex-group-gap;

$footer-list-padding: $size-6 $size-3;
$footer-list-font-weight: $font-weight-bold;
$footer-list-color: $header-color;

//Form
// ========================================
// Currently not using
// If use, please update the index partial (@use form)
// ========================================
// $form-col-spacing: $size-6; // Spazio verticale tra campi
// $form-row-spacing: $size-3; // Spazio orizzontale tra campi
// $form-group-spacing: $size-1; // Spazio tra label e input
// $form-label-button-margin-top: $size-5;

// $form-label-font-family: $body-font-family;
// $form-label-font-size: $font-size-400;
// $form-label-font-weight: $font-weight-bold;
// $form-label-color: $color-primary-700;

// $form-input-font-family: $body-font-family;
// $form-input-font-size: $font-size-400;
// $form-input-font-weight: $font-weight-semi-bold;
// $form-input-color: $color-primary-700;
// $form-input-border-radius: $border-radius-1;
// $form-input-border-default: 3px solid $color-primary-200;
// $form-input-border-hover: 3px solid $color-primary-400;
// $form-input-border-focus: 3px solid $color-primary-400;
// $form-input-background: $color-neutral-100;
// $form-input-padding: $size-3;
// $form-input-transition: 275ms ease;

// $form-placeholder-color: $color-primary-400;
// $form-placeholder-font-family: $body-font-family;
// $form-placeholder-font-size: $font-size-400;
// $form-placeholder-font-weight: $font-weight-semi-bold;
