// Global Tokens - Private members
$-ff-sans: "Inter", sans-serif;
$-ff-serif: "Montserrat", serif;
// Contextual Tokens
$font-family-base: $-ff-sans;
$font-family-accent: $-ff-serif;

//prettier-ignore
$font-sizes: (
  "small": (
    "300": 0.875rem,
    "400": 1.125rem,
    "500": 1.5rem,  
    "600": 2.375rem,
    "700": 2.625rem,
  ),
  "large": (
    "300": 0.875rem, 
    "400": 1.125rem, 
    "500": 1.5rem,   
    "600": 2.625rem, 
    "700": 3.5rem, 
  ),
);

$font-size-300: var(--fs-300); // 14
$font-size-400: var(--fs-400); // 18
$font-size-500: var(--fs-500); // 24
$font-size-600: var(--fs-600); // 38-42
$font-size-700: var(--fs-700); // 42-58

$primary-heading-font-size: $font-size-700;
$secondary-heading-font-size: $font-size-600;
$tertiary-heading-font-size: $font-size-500;
$large-text-font-size: $font-size-500;
$body-font-size: $font-size-400;
$body-small-font-size: $font-size-300;
$button-font-size-default: $font-size-400;

$-fw-400: 400;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-400;
$font-weight-bold: $-fw-700;
