@use "../abstracts/" as *;

.nav-primary {
  background-color: inherit;
  color: inherit;

  &__list {
    display: grid;
    place-items: center;
    gap: $navigation-gap;
  }

  &__link {
    padding: $navigation-link-padding;
  }
}

@include mq(min, width, medium) {
  .nav-primary {
    position: relative;
    &__toggle-button {
      display: none;
    }
    &__list {
      display: flex;
    }
  }
}
