@use "../abstracts/" as *;

.nav-primary {
  background-color: $navigation-background-color;
  color: inherit;
  display: flex;
  position: fixed;

  top: 111px;
  left: 0;
  right: 0;

  &__toggle-button {
    display: block;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $navigation-gap;
  }

  &__link {
    padding: $navigation-link-padding;
    color: inherit;
    font-family: inherit;
  }
}

@include mq(min, width, medium) {
  .nav-primary {
    position: static;
    &__toggle-button {
      display: none;
    }
    &__list {
      flex-direction: row;
    }
  }
}
