@use "../abstracts/" as *;

.space-between {
  justify-content: space-between;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $flex-group-gap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.split {
  display: flex;
  align-items: center;
  gap: $grid-gap;
}

.flow-content,
.flow {
  display: grid;
  gap: $grid-gap;
}

.relative {
  position: relative;
}

section {
  padding-block: $section-padding-block-mobile;

  @include mq(min, width, medium) {
    padding-block: $section-padding-block-desktop;
  }
}
